.DS_Store
.dockerignore
.git
.gitignore
.idea

build/
!build/vendor/woff-code-latest.zip
!build/gergich/
!build/new-jenkins/
!build/docker_utils.rb
!build/dockerfile_writer.rb
!build/Dockerfile.template
docker-compose/
!docker-compose/config/*
docker-compose.local.*.yml
docker-compose.override.yml
# docker-compose.yml

coverage/
coverage-js/
gems/*/node_modules/
gems/plugins/*/node_modules/
gems/plugins/*/.git
/log/*
!/log/.keep
!/log/parallel-runtime-rspec.log
node_modules/
packages/*/node_modules/
public/dist/
public/doc/
public/javascripts/translations/
!public/javascripts/translations/en.json
tmp/*
vendor/bundle/
vendor/*/.git
Dockerfile
*.Dockerfile
mkmf.log

.dive-ci
.gitlab-ci.yml
.gitlab-ci-deploy.yml
.gitmessage
.travis.yml
code_of_conduct.md
CONTRISBUTING.md
COPYRIGHT
docker-compose.new-jenkins.yml
docker-compose.new-jenkins-karma.yml
docker-compose.new-jenkins.consumer.yml
docker-compose.new-jenkins.vendored-gems.yml
docker-compose.new-jenkins.canvas.yml
docker-compose.new-jenkins-selenium.yml
docker-compose.new-jenkins-package-translations.yml
docker-compose.new-jenkins-flakey-spec-catcher.yml
docker-compose.override.yml
docker-compose.spring.yml
Dockerfile.githook
Dockerfile.package-translations
issue_template.md
Jenkinsfile.contract-tests
Jenkinsfile.vendored-gems
Jenkinsfile.master-bouncer-check-all
Jenkinsfile.xbrowser
Jenkinsfile.dive
Jenkinsfile.selenium.performance.chrome
Jenkinsfile.test-subbuild
Jenkinsfile.js
Jenkinsfile.package-translations
Jenkinsfile
Jenkinsfile.selenium.flakey_spec_catcher
LICENSE
README.md
ruby.Dockerfile
ubuntu.development.Dockerfile
ubuntu.production.Dockerfile
