[submodule "vendor/QTIMigrationTool"]
	path = vendor/QTIMigrationTool
	url = https://github.com/instructure/QTIMigrationTool.git
[submodule "gems/plugins/analytics"]
	path = gems/plugins/analytics
	url = ../canvas-lms-analytics
