[submodule "vendor/QTIMigrationTool"]
	path = vendor/QTIMigrationTool
	url = https://github.com/instructure/QTIMigrationTool.git
[submodule "gems/plugins/analytics"]
	path = gems/plugins/analytics
	url = https://gitlab.dlc.ntu.edu.tw/ntu-cool/canvas-lms-analytics
