{{#if fileUploadedZeroByte}}
  <div class="file-status">
    <em>
      <p style="color: red; margin: 0">
        {{#t "quizzes.file_zero_byte"}}
          Upload failed. Please try again.
        {{/t}}
      </p>
    </em>
  </div>
{{/if}}
